@import url('https://fonts.googleapis.com/css2?family=Rubik+Broken+Fax&display=swap');

main{
    padding: 30px;
    text-align: center;
}
@media (min-width: 768px) {
    main{
        margin: 0 18%;
    }
}

.fourofour {
    padding: 20px 0;
    font-size: 140px;
    /* font-family: 'Pacifico', cursive; */
    font-family: 'Rubik Broken Fax', system-ui;
    text-align: center;
    color: orange;
    /* color: #ffffff; */
}

p {
    color: #ffffff;
    font-size: 1.2em;
}

.back {
    padding: 20px 0;
    font-size: 50px;
    /* font-family: 'Pacifico', cursive; */
    font-family: 'Rubik Broken Fax', system-ui;
    text-align: center;
    /* color: orange; */
    color: #ffffff;
}

.link-item{
    margin: 10px;
    text-align: center;
    position: relative;
}

.link-item a:link, .link-item a:visited{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #ffffff;
    background-color: #333333;
    font-weight: bold;
    font-family: 'Changa', sans-serif;
    border: 2px solid #333333;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
}

.link-item a:hover, .link-item a:active{
    background-color: var(--theme-bg-color);
    border: 2px solid white;
    border-radius: 14px;
    box-shadow: 0 0 15px gold;
    overflow: hidden;
}

.link-item a p{
    text-align: center;
    font-family: monospace;
}