@import url("https://fonts.googleapis.com/css2?family=Changa:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Borel&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Broken+Fax&display=swap");

html {
	box-sizing: border-box;
	font-size: 100%;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

ol,
ul {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

body {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	margin: auto;
}

.background {
	position: fixed;
	width: 100%;
	height: 100vh;
	z-index: -100;
	background-image: linear-gradient(45deg, #29323c, #485563);
}

* {
	-webkit-user-drag: none;
	transition: all 0.4s ease-in-out;
}

body {
	font-family: Arial, sans-serif;
}

::selection {
	background-color: #ffcc00;
	color: #000;
}

@media only screen and (min-width: 1025px) {
	body {
		font-size: 13px;
	}

	body::-webkit-scrollbar {
		width: 6px;
	}

	body::-webkit-scrollbar-track {
		background-color: #485563;
	}

	body::-webkit-scrollbar-thumb {
		background-color: #888;
		border-radius: 20px;
	}

	body::-webkit-scrollbar-thumb:hover {
		background-color: #ddd;
	}
}

@media only screen and (max-width: 600px) {
	body {
		font-size: 14px;
	}
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
	body {
		font-size: 16px;
	}
}

@media only screen and (min-width: 1025px) {
	body {
		font-size: 13px;
	}
}

p {
	font-weight: bold;
	font-family: monospace;
}
