/* Import */
@import url("https://fonts.googleapis.com/css2?family=Changa:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Borel&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Broken+Fax&display=swap");

/* Reset */
html {
	box-sizing: border-box;
	font-size: 100%;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

ol,
ul {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

/* Background Styling */
body {
	/* background-image: url('../assets/images/ai_abstract_minimal_blue_scenery.jpg'); */
	/* background-image: url('../assets/images/minimalist_4k_blue_scenery.jpg'); */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	margin: auto;
}

/* .background {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: -100;
    --s: 400px;
    --c1: #1d1d1d;
    --c2: #4e4f51;
    --c3: #3c3c3c;

    background: repeating-conic-gradient(
        from 30deg,
        #0000 0 120deg,
        var(--c3) 0 180deg
        )
        calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
    repeating-conic-gradient(
        from 30deg,
        var(--c1) 0 60deg,
        var(--c2) 0 120deg,
        var(--c3) 0 180deg
    );
    background-size: var(--s) calc(var(--s) * 0.577);
} */

.background {
	position: fixed;
	width: 100%;
	height: 100vh;
	z-index: -100;
	background-image: linear-gradient(45deg, #29323c, #485563);
}

/* Web Settings */
* {
	-webkit-user-drag: none;
	user-select: none;
}

/* Basic Styling */
body {
	font-family: Arial, sans-serif;
	margin-bottom: 25px;
}

::selection {
	background-color: #ffcc00;
	color: #000;
}

/* Styles for desktops */
@media only screen and (min-width: 1025px) {
	body {
		font-size: 13px;
	}

	/* Custom scrollbar */
	body::-webkit-scrollbar {
		width: 6px;
	}

	body::-webkit-scrollbar-track {
		background-color: #485563;
	}

	body::-webkit-scrollbar-thumb {
		background-color: #888;
		border-radius: 20px;
	}

	body::-webkit-scrollbar-thumb:hover {
		background-color: #ddd;
	}
}

/* Styles for mobile devices */
@media only screen and (max-width: 600px) {
	body {
		font-size: 14px;
	}
}

/* Styles for tablets */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
	body {
		font-size: 16px;
	}
}

/* Styles for desktops */
@media only screen and (min-width: 1025px) {
	body {
		font-size: 13px;
	}
}

p {
	font-weight: bold;
	font-family: monospace;
}
