@import url('https://fonts.googleapis.com/css2?family=Rubik+Broken+Fax&display=swap');

@keyframes switchAnimation {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.header {
    animation: switchAnimation 0.6s ease-in-out;
}

/* @media (max-width: 767px) {
    .header {
        animation: switchAnimation 0.6s ease-in-out;
    }
} */

header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: #00000000;
    transition: all 0.3s ease-in-out;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 25px;
    background-color: rgba(42, 96, 106, 0.8);
    backdrop-filter: blur(4px);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: top 0.3s ease-in-out;
}

@media (max-width: 767px) {
    .header {
        flex-direction: column;
        /* Stack the logo and navigation vertically */
        align-items: center;
        padding: 10px;
        height: 120px;
        border-radius: 0 0 16px 16px;
    }
}

@media (min-width: 768px) {
    header {
        padding: 10px;
    }

    .header {
        flex-direction: row;
        /* Align the logo and navigation horizontally */
        padding: 20px;
        height: 60px;
        border-radius: 16px;
    }
}

.logo {
    font-size: 40px;
    font-family: 'Rubik Broken Fax', system-ui;
    text-align: center;
    justify-content: center;
    letter-spacing: 2px;
    opacity: 1;
}

@media (max-width: 768px) {
    .logo a {
        text-decoration: none;
        color: whitesmoke;
    }
}

@media (min-width: 768px) {
    .logo a {
        text-decoration: none;
        color: whitesmoke;
    }

    .logo a,
    .logo a:visited {
        color: whitesmoke;
        transition: all 0.4s ease-in-out;
    }

    .logo a:hover,
    .logo a:active {
        color: orange;
    }
}

llo {
    color: orange;
}

.nav-bar {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    gap: 30px;
}

.nav-link:link,
.nav-link:visited {
    display: block;
    padding: 10px 20px;
    border-radius: 0.6em;
    text-decoration: none;
    color: #ffffff;
    transition: all 0.3s;
}

.nav-link:hover,
.nav-link:active,
.nav-link.active {
    background-color: orange;
    color: #000000;
}