@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap");

main {
    padding: 30px;
}

@media (min-width: 768px) {
    main {
        margin: 0 18%;
    }
}

/* Page Title */
.page-title {
    padding: 20px 0;
    font-size: 30px;
    font-family: "Bungee Spice", sans-serif;
    text-align: center;
    color: #ffffff;
}

/* About Panel */
.about {
    margin: 10px;
    padding: 10px;
    background-color: rgb(51, 51, 51, 0.6);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-sizing: border-box;
    transition: all 0.4s ease-in-out;
}

.about h2 {
    text-align: center;
    color: orange;
}

.about p {
    text-align: center;
    color: #ffffff;
}

.about p a {
    color: orange;
}

@media (min-width: 768px) {

    .about,
    .about:visited {
        display: block;
        padding: 10px;
        text-decoration: none;
        color: #ffffff;
        background-color: rgb(51, 51, 51, 0.6);
        font-weight: bold;
        font-family: "Changa", sans-serif;
        border: 2px solid rgb(51, 51, 51, 0.6);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 10px;
        overflow: hidden;
    }

    .about:hover,
    .about:active {
        background-color: rgba(16, 18, 27, 0.75);
        border: 2px solid white;
        border-radius: 14px;
        box-shadow: 0 0 15px gold;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        overflow: hidden;
    }
}

/* Warning Panel */
.warning {
    margin: 10px;
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(51, 51, 51, 0.6);
    border-radius: 14px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-sizing: border-box;
    transition: all 0.4s ease-in-out;
    animation-name: blink;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.warning h1 {
    text-align: center;
    color: orange;
}

.warning p {
    text-align: center;
    color: #ffffff;
}

@media (min-width: 768px) {

    .warning,
    .warning:visited {
        display: block;
        padding: 10px;
        text-decoration: none;
        color: #ffffff;
        background-color: rgb(51, 51, 51, 0.6);
        font-weight: bold;
        font-family: "Changa", sans-serif;
        border: 2px solid rgb(51, 51, 51, 0.6);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 14px;
        overflow: hidden;
    }

    .warning:hover,
    .warning:active {
        background-color: rgba(16, 18, 27, 0.75);
        border: 2px solid red;
        box-shadow: 0 0 15px gold;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 14px;
        overflow: hidden;
    }
}

@keyframes blink {

    0%,
    100% {
        border: 4px solid rgb(51, 51, 51, 0);
    }

    50% {
        border: 4px solid red;
        box-shadow: 0 0 25px red;
    }
}

/* Link Box */
.container,
.container1,
.container2,
.container3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.link-item {
    flex-basis: 180px;
    flex-grow: 1;
    margin: 10px;
    text-align: center;
    position: relative;
}

@media (max-width: 768px) {
    .link-item {
        flex-basis: 140px;
    }
}

.link-item a:link,
.link-item a:visited {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #ffffff;
    background-color: rgb(51, 51, 51, 0.6);
    font-weight: bold;
    font-family: "Changa", sans-serif;
    border: 2px solid rgb(51, 51, 51, 0.6);
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.link-item a:hover,
.link-item a:active {
    background-color: rgba(16, 18, 27, 0.75);
    border: 2px solid white;
    border-radius: 14px;
    box-shadow: 0 0 15px gold;
    overflow: hidden;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.link-item a p {
    text-align: center;
    font-family: monospace;
}

@media (max-width: 767px) {
    .link-img {
        width: 35px;
        position: flex;
        transition: all 0.4s ease-in-out;
    }
}

@media (min-width: 768px) {
    .link-img {
        width: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0.1;
        transition: all 0.4s ease-in-out;
    }

    .link-item a:hover .link-img {
        opacity: 1;
        transform: translate(-0%, -50%) rotate(360deg);
        position: absolute;
        left: 0;
        transition: all 0.4s ease-in-out;
    }
}

@media (max-width: 768px) {
    .page-title {
        font-size: 24px;
    }

    .about {
        margin: 10px 0;
    }

    .container {
        justify-content: space-around;
    }
}

.note {
    font-family: monospace;
    padding: 30px;
    text-align: center;
    color: #ffffff;
}