@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap");

main {
	padding: 0 15px;
}

@media (min-width: 768px) {
	main {
		/* margin: 0 18%; */
		padding: 0 18%;
	}
}

/* Page Title */
.page-title {
	padding: 10px 0;
	font-size: 24px;
	font-family: "Bungee Spice", sans-serif;
	text-align: center;
	color: #ffffff;
	/* transition: all 0.3s ease-in-out; */
}

/* About Panel */
.about {
	display: block;
	width: 100%;
	/* margin: 5px; */
	padding: 10px;
	background-color: rgba(51, 51, 51, 0.6);
	font-size: 16px;
	border-radius: 14px;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	box-sizing: border-box;
	/* transition: all 0.4s ease-in-out; */
}

.about h2 {
	text-align: center;
	font-size: 1.5rem;
	font-weight: 700;
	color: orange;
}

.about p {
	text-align: center;
	/* font-size: 0.9rem; */
	color: #ffffff;
}

.about p a {
	color: orange;
}

/* Warning Panel */
.warning {
	display: block;
	width: 100%;
	/* margin: 5px; */
	margin: 15px 0;
	padding: 10px;
	background-color: rgba(51, 51, 51, 0.6);
	font-size: 16px;
	border-radius: 14px;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	box-sizing: border-box;
	/* transition: all 0.4s ease-in-out; */
	/* animation: blink 2s infinite linear; */
}

.warning h2 {
	text-align: center;
	font-size: 1.5rem;
	font-weight: 700;
	color: red;
}

.warning p {
	text-align: center;
	/* font-size: 0.9rem; */
	color: #ffffff;
}

/* Link Box */
.container,
.container1,
.container2,
.container3 {
	display: flex;
	/* width: 100%; */
	flex-wrap: wrap;
	justify-content: center;
	/* transition: all 0.3s ease-in-out; */
}

.link-item {
	/* flex-basis: 180px; */
	flex: 0 0 calc(16% - 10px);
	flex-grow: 1;
	margin: 10px;
	text-align: center;
	position: relative;
	/* transition: all 0.3s ease-in-out; */
}

@media (max-width: 767px) {
	.link-item {
		/* flex-basis: 140px; */
		flex: 0 0 calc(46% - 10px);
		flex-grow: 1;
		/* transition: all 0.3s ease-in-out; */
	}
}

.link-item a:link,
.link-item a:visited {
	display: block;
	padding: 10px;
	text-decoration: none;
	color: #ffffff;
	background-color: rgb(51, 51, 51, 0.6);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-weight: bold;
	font-family: "Changa", sans-serif;
	border-radius: 10px;
	overflow: hidden;
	/* transition: all 0.4s ease-in-out; */
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
}

.link-item a:hover,
.link-item a:active {
	background-color: rgba(16, 18, 27, 0.75);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	overflow: hidden;
	/* transform: scale(0.8); */
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
}

.link-item a p {
	text-align: center;
	font-family: monospace;
}

.link-img {
	width: 28px;
}

@media (max-width: 768px) {
	.page-title {
		font-size: 24px;
	}

	.about {
		margin: 10px 0;
	}

	.container {
		justify-content: space-around;
	}
}

.note {
	font-family: monospace;
	padding: 30px;
	text-align: center;
	color: #ffffff;
}
