@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap");

.card {
  /* box-shadow: none !important; */
  /* border: solid 1px #060606 !important; */
  margin-bottom: 1.875rem;
  /* background: #161718 !important; */
}
.card-body .float-right {
  margin-top: -5px;
}
html body {
  height: 100%;
  /* background: #121314 !important; */
  direction: ltr;
}
@media (min-width: 992px) {
  .container {
    max-width: 546px;
  }
}

.badge.badge.float-right {
  margin-top: -5px !important;
  margin-left: 0.5rem;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Teko';
  padding: 4px 3px 0px;
}
.col-md-6.liner .card-body{
  padding-bottom: 9px;
}
.hyper_logo {
  height: 45px;
  background: linear-gradient(to top, #1ff3c2, #22b7f5f2);
  width: 48px;
  margin-top: -4px;
  clip-path: polygon(
    36% 43%,
    63% 43%,
    100% 0,
    76% 75%,
    50% 100%,
    49% 100%,
    22% 73%,
    0 0
  );
  margin-bottom: 40px;
}

.card .card-title {
  font-size: 20px !important;
  font-weight: 900 !important;
  letter-spacing: 0.05rem;
  font-family: "Teko";
  /* background: #a19b9b; */
}
input#amount {
  /* border: solid 1px #000000;
  background: #18191a; */
  margin-bottom: 20px;
  font-weight: 600;
  font-family: "Teko";
  font-size: 19px;
  text-transform: uppercase;
  padding: 7px 5px 3px;
}

.card-body h5 {
  font-weight: 700;
  font-family: "Teko";
}
.content-wrapper-before.mb-3 {
  background: transparent !important;
}
.btn-bg-gradient-x-red-pink {
  box-shadow: 0 0 12px 0 #ef433080 !important;
  background: rgb(255, 38, 0) !important;
  font-family: "Teko";
  font-size: 20px;
  padding-bottom: 7px;
}

div#lista_charge {
    font-family: 'Teko';
    font-size: 15px;
    font-weight: 700;
    margin-left: 22%;
    margin-bottom: 15px;
}

textarea.form-control.text-center.form-checker {
  height: 85px;
  /* background: #1a1b1c; */
  font-family: "Teko";
  font-weight: 700;
  border-radius: 2px;
  padding: 30px;
  letter-spacing: 1px;
  font-size: 18px
}
.card-body.hiter {
  padding-bottom: 3px;
}
.btn-bg-gradient-x-blue-cyan.btn-glow {
  box-shadow: 0 0 12px 0 #51bedf36 !important;
}
.btn-bg-gradient-x-blue-cyan {
  font-family: "Teko";
  font-size: 20px;
  padding-bottom: 7px;
  background-image: linear-gradient(45deg, #20eba0, #288fef) !important;
}
