@import url('https://fonts.googleapis.com/css2?family=Rubik+Broken+Fax&display=swap');

main {
    padding: 30px;
    text-align: center;
}

@media (min-width: 768px) {
    main {
        margin: 0 18%;
    }
}

.fourofourpanel {
    margin: 5px;
    padding: 5px;
    background-color: rgba(51, 51, 51, 0.6);
    border-radius: 14px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-sizing: border-box;
    transition: all 0.4s ease-in-out;
}

@media (min-width: 768px) {

    .fourofourpanel,
    .fourofourpanel:visited {
        display: block;
        padding: 5px;
        text-decoration: none;
        color: #ffffff;
        background-color: rgba(51, 51, 51, 0.6);
        font-weight: bold;
        font-family: "Changa", sans-serif;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        overflow: hidden;
    }

    .fourofourpanel:hover,
    .fourofourpanel:active {
        background-color: rgba(16, 18, 27, 0.75);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        overflow: hidden;
    }
}

.fourofour {
    padding: 20px 0;
    font-size: 140px;
    /* font-family: 'Pacifico', cursive; */
    font-family: 'Rubik Broken Fax', system-ui;
    text-align: center;
    color: orange;
    /* color: #ffffff; */
}

p {
    color: #ffffff;
    font-size: 1.2em;
}

.back {
    padding: 20px 0;
    font-size: 50px;
    font-family: 'Rubik Broken Fax', system-ui;
    text-align: center;
    color: #ffffff;
}

.link-item {
    /* flex-basis: 180px; */
    flex: 0 0 calc(16% - 10px);
    flex-grow: 1;
    margin: 10px;
    text-align: center;
    position: relative;
}

@media (max-width: 768px) {
    .link-item {
        /* flex-basis: 140px; */
        flex: 0 0 calc(46% - 10px);
        flex-grow: 1;
    }
}

.link-item a:link,
.link-item a:visited {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #ffffff;
    background-color: rgb(51, 51, 51, 0.6);
    font-weight: bold;
    font-family: "Changa", sans-serif;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.link-item a:hover,
.link-item a:active {
    background-color: rgba(16, 18, 27, 0.75);
    overflow: hidden;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.link-item a p {
    text-align: center;
    font-family: monospace;
}